<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Jugador</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <h1>Editar jugador</h1>
                    <form th:action="@{/jugadores/guardarJugador}" method="post" th:object="${jugador}">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label for="nombre" id="nombre">Nombre: </label>
                            <input th:field="*{nombre}" class="form-control" type="text" name="nombre">
                        </div>
                        <div class="form-group">
                            <label for="username">UserName: </label>
                            <input th:field="*{userName}" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="correo">Correo: </label>
                            <input th:field="*{correo}" class="form-control" type="email" name="correo">
                        </div>
                        <div class="form-group">
                            <label for="edad" id="edad">Edad: </label>
                            <input th:field="*{edad}" class="form-control" type="text" name="edad">
                        </div>
                        <div class="form-group">
                            <label for="puntaje">Puntaje: </label>
                            <input th:field="*{puntaje}" class="form-control" type="text" name="puntaje">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>