<!DOCTYPE html>
<html xmlns:th:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista solicitud Credito</title>
    <!--css icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--End css icons-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
            <div class="container">
                <a th:href="@{/}" class="navbar-brand">Aplicacion Web Test</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-2"></li>
                            <a th:href="@{/inventario}" class="nav-link active">Inventario</a>
                        </li>
                        <li class="nav-item px-2"></li>
                            <a th:href="@{/ventas}" class="nav-link active">Ventas</a>
                        </li>
                        <li class="nav-item px-2"></li>
                            <a th:href="@{/usuarios/lista}" class="nav-link active">Usuarios</a>
                        </li>
                        <li class="nav-item px-2"></li>
                            <a th:href="@{/empleados/listaEmpleados}" class="nav-link active">Empleados</a>
                        </li>
                        <li class="nav-item px-2"></li>
                            <a th:href="@{/ventas/historialVentas}" class="nav-link active">Historial</a>
                        </li>
                        <li class="nav-item px-2"></li>
                            <a th:href="@{/clientes/lista}" class="nav-link active">Clientes</a>
                        </li>
                        <li class="nav-item px-2"></li>
                            <a th:href="@{/creditos/mostrarCreditos}" class="nav-link active">Solicitar Credito</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--seccion titulo-->
        <section id="main-heder" class="py-2 bg-dark text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Lista Solicitudes</h1>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <table class="table table-striped">
                        <thead class="thead thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Cliente</th>
                                <th>Monto Solicitado</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>acciones</th>
                                <th>funciones</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="solicitud : ${solicitudes}">
                                <td th:text="${solicitud.id}"></td>
                                <td th:text="${solicitud.cliente.nombre}"></td>
                                <td th:text="${solicitud.montoSolicitado}"></td>
                                <td th:text="${solicitud.fechaSolicitud}"></td>
                                <td th:text="${solicitud.estado}"></td>
                                <td>
                                    <a th:href="@{/creditos/aprobarSolicitud/{id}(id=${solicitud.id})}" class="btn btn-success">Aceptar</a>
                                    <a th:href="@{/creditos/rechazarSolicitud/{id}(id=${solicitud.id})}" class="btn btn-danger">Rechazar</a>
                                </td>
                                    <td>
                                        <a th:href="@{/creditos/editarSolicitud/{id}(id=${solicitud.id})}" class="btn btn-primary">Editar</a>
                                        <a th:href="@{/creditos/eliminarSolicitud/{id}(id=${solicitud.id})}" class="btn btn-danger" 
                                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta solicitud?');">Eliminar</a>
                                    </td> 
                                    <td>
                                        <a th:href="@{/creditos/tarjetaCredito/{clienteId}(clienteId=${solicitud.cliente.idCliente})}" class="btn btn-info">Ver Tarjeta</a>
                                    </td>                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
