<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de clientes</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    <h1>Lista</h2>
        <h2 th:text="${mensaje}"></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <table class="table table-striped">
                            <thead class="thead thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>CURP</th>
                                    <th>RFC</th>
                                    <th>Telefono</th>
                                    <th>Email</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="cliente : ${clientes}">
                                    <td th:text="${cliente.idCliente}"></td>
                                    <td th:text="${cliente.nombre}"></td>
                                    <td th:text="${cliente.curp}"></td>
                                    <td th:text="${cliente.rfc}"></td>
                                    <td th:text="${cliente.telefono}"></td>
                                    <td th:text="${cliente.email}"></td>
                                    <td>
                                        <a class="btn btn-info" th:href="@{/clientes/editarCliente/{id}(id=${cliente.idCliente})}">Editar</a>
                                        <a class="btn btn-danger" th:href="@{/clientes/eliminarCliente/{id}(id=${cliente.idCliente})}">Eliminar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="btn btn-success btn-block" th:href="@{/clientes/nuevoCliente}">Agregar nuevo cliente</a>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>