<!DOCTYPE html>
<html xmlns:th:="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Ventas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        .container-cashback{
            background-color: rgb(108, 108, 203);
            color: white;
            border-radius: 25px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
            <div class="container">
                <a th:href="@{/}" class="navbar-brand">Aplicacion Web Test</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-2">
                            <a th:href="@{/}" class="nav-link active">Inicio</a>
                        </li>
                        <li class="nav-item px-2"></li>
                            <a th:href="@{/inventario}" class="nav-link active">Inventario</a>
                        </li>
                        <li class="nav-item px-2">
                            <a th:href="@{/usuarios/lista}" class="nav-link active">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--seccion titulo-->
        <section id="main-heder" class="py-2 bg-dark text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Ventas</h1>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <section class="productos">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>Productos Disponibles</h2>
                        </div>
                        <div>
                            <table class="table table-stryped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="producto : ${productos}">
                                        <td th:text="${producto.cantidad}"></td>
                                        <td th:text="${producto.nombre}"></td>
                                        <td th:text="${producto.precio}"></td>
                                        <td>
                                            <form th:action="@{/ventas/agregarProducto/{id}(id = ${producto.id})}" method="post">
                                                <button class="btn btn-primary" type="submit" th:disabled="${producto.cantidad == 0}">+ Agregar</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>Lista de Compras</h2>
                        </div>
                        <div class="card-body">
                            <div class="container-cashback">
                                <h1>Cashback</h1>
                                <div class="form-group">
                                    <form th:action="@{/usuarios/buscarUsuario}" method="post">
                                    <input type="text" placeholder="Buscar" name="nombre" class="form-control">
                                        <button type="submit" class="btn btn-info m-3">Buscar</button>
                                    </form>
                                    <div>
                                        <div th:if="${usuario !=null}">
                                            <h2 th:text="${usuario.nombre}"></h2>
                                            <h2 th:text="${usuario.puntos}"></h2>
                                        </div>
                                        <div th:if="${usuario == null}">
                                            <h2>Usuario no encontrado</h2>
                                            <form th:action="@{/usuarios/nuevo}" method="get">
                                                <button class="btn btn-success" type="submit">Registrar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-stryped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="compra, contador : ${listaCompras}">
                                        <td>[[${contador.count}]]</td>
                                        <td th:text="${compra.nombre}"></td>
                                        <td th:text="${compra.precio}"></td>
                                        <td>
                                            <form th:action="@{/ventas/eliminarProducto/{id}(id=${compra.id})}" method="POST">
                                                <button class="btn btn-danger" type="submit">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
        
                        </div>
                        <div class="card-footer">
                            <h3>Total: <span th:text="${totalPagar}">0.0<span></h3>
                            <h3>Total con descuento: <span th:text="${totalConDescuento}"></span></h3>
                            <h4>Porcentaje: <span th:text="${porcentaje}"></span></h4>
                                <form th:action="@{/ventas/pagar}" method="post">
                                    <input type="hidden" name="nombre" th:value="${nombre}">
                                    <button class="btn btn-success btn-block" type="submit">Comprar</button>
                                </form>
                                <form th:action="@{/ventas/eliminarCompra}" method="POST">
                                    <button class="btn btn-danger btn-block" type="submit">Vaciar</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>